@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    width: 100vw;
    color: whitesmoke;
    /*Fundo*/
    background-color: #313131;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px
}

header {
    background-color: rgb(26, 26, 26);
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
}


h1 {
    font-size: 26pt;
    font-weight: 700;
}

header i {
    font-size: 20pt;
    font-weight: 700;
}

nav a {
    margin-right: 12px;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 6px 8px;
}

.ok {
    color: #0a0;
}

.erro {
    color: #a00;
}