@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    cursor: pointer;
}
body {
    font-family: Arial, sans-serif;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    width: 100vw;
    color: whitesmoke;
    /*Fundo*/
    background-color: #313131;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px
}

header {
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    justify-content: space-between;
}

header>* {
    margin: 0 50px;
}

header div:first-child {
    display: flex;
    align-items: center;
    gap: 12px;
}

header div:last-child {
    display: flex;
    gap: 20px;
}

h1 {
    font-size: 26pt;
    font-weight: 700;
}

header i {
    font-size: 20pt;
    font-weight: 700;
    color: #6366F1;
}

nav a {
    margin-right: 12px;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 6px 8px;
}

.ok {
    color: #0a0;
}

.erro {
    color: #a00;
}

button[type="button"]:not(.formButton) {
    font-size: 12pt;
    font-weight: bold;
    color: whitesmoke;
    background-color: #6366F1;
    border: none;
    border-radius: 6px;
    padding: 8px 10px;
    cursor: pointer;
}

#corpo {
    height: calc(100% - 70px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background: #3b3b3b;
    background: linear-gradient(151deg, rgba(59, 59, 59, 1) 5%, rgba(26, 26, 26, 1) 25%, rgba(26, 26, 26, 1) 85%, rgba(29, 29, 74, 1) 100%);
    border: 1px solid #5c5c5c;
    border-radius: 4px;
    height: auto;
    max-height: 75%;
    overflow-y: scroll;
    width: 60%;
    padding: 30px 60px;
    margin: 0 420px 100px 0;
    
}
main::-webkit-scrollbar{
    display: none;
}
main>* {
    margin: 36px 0;
}

h2 {
    font-size: 22pt;
}

#conexao {
    display: inline-block;
    background-color: rgba(99, 102, 242, 0.2);
    padding: 3px 6px;
    border-radius: 4px;
}

.opt {
    background-color: whitesmoke !important;
    color: black !important;
}

a > i,
a:visited > i {
    color: whitesmoke;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}



form input, form select, textarea {
    width: 50%;
    padding: 5px;
    border: 2px solid rgba(99, 102, 241, 1) ;
    border-radius: 5px;
    color: whitesmoke;
    background-color: #00000000;
}

input[type="date"]{
    color: black;
    filter: invert(1);
    border-color: #9C990E;
}

select option {
    background-color: #1a1a1a;
}
form button {
    background-color: #6366F1;
    color: whitesmoke;
    border: none;
    border-radius: 7px;
    width: 12ch;
    height: 4ch;
    
}